.Game {
  width: 700px;
  max-height: 100%;
}

.all-levels {
  display: flex;
  flex-wrap: wrap;
  ;
}

.level {
  margin: 10px
}

.level-indicator {
  width: 150px;
  height: 150px;
  background-color: grey;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

progress:first-of-type {
  accent-color: #00b227;
}