.Game {
  width: 500px;
  height: 500px;
}

.level-indicator {
  width: 150px;
  height: 150px;
  background-color: grey;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

progress::-moz-progress-bar {
  background: blue;
}

progress::-webkit-progress-value {
  background: blue;
}

progress {
  color: blue;
}