.UserCard {
  display: flex;
}
.userImg {
  height: 55px;
  border-radius: 100%;
}

.usercard-username{
  font-weight: bold;
  color: #67A27F;
  margin: 5px 0;
}

.usercard-atname{
  font-weight: normal;
}

.usercard-status{ 
  margin: 0;}
