.App {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
}

.left-nav {
  flex: .25;
}

.left-area,
.right-area {
  flex: 2;
}

.right-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.middle-area {
  flex: 2.5;
}