.wrapper {
    background-color: black;
    height: 100%;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* #images {
    height: 50%;
    width: 50%;
} */

.logo {
    height: 100px;
    margin-top: 50px;
}

.img-wrapper {
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    font-size: small;
}

.icon-label {
    opacity: 50%;
    margin-top: 2px;
}

.icon-label:first-of-type {
    opacity: 100%;
}

.img {
    height: 35px;
    opacity: 50%;
}

.active {
    opacity: 100%;
}

.medal {
    height: 45px;
}